/*------------------------------------
 - COLOR dark-teal
 ------------------------------------*/
 .alert-dark-teal {
  color: #28897f;
  background-color: #fafdfd;
  border-color: #eaf8f7;
}
.alert-dark-teal hr {
  border-top-color: #d6f3f0;
}
.alert-dark-teal .alert-link {
  color: #1c615b;
}
.badge-dark-teal {
  color: #212529;
  background-color: #5dcfc4;
}
.badge-dark-teal[href]:hover, .badge-dark-teal[href]:focus {
  color: #212529;
  background-color: #38c0b3;
}
.bg-dark-teal {
  background-color: #5dcfc4 !important;
}
a.bg-dark-teal:hover, a.bg-dark-teal:focus, button.bg-dark-teal:hover, button.bg-dark-teal:focus {
  background-color: #38c0b3 !important;
}
.border-dark-teal {
  border-color: #5dcfc4 !important;
}
.btn-dark-teal {
  color: #212529;
  background-color: #5dcfc4;
  border-color: #5dcfc4;
}
.btn-dark-teal:hover {
  color: #212529;
  background-color: #41c6b9;
  border-color: #38c0b3;
}
.btn-dark-teal:focus, .btn-dark-teal.focus {
  box-shadow: 0 0 0 0.2rem rgba(93, 207, 196, 0.5);
}
.btn-dark-teal.disabled, .btn-dark-teal:disabled {
  color: #212529;
  background-color: #5dcfc4;
  border-color: #5dcfc4;
}
.btn-dark-teal:not(:disabled):not(.disabled):active, .btn-dark-teal:not(:disabled):not(.disabled).active, .show > .btn-dark-teal.dropdown-toggle {
  color: #212529;
  background-color: #38c0b3;
  border-color: #35b4a8;
}
.btn-dark-teal:not(:disabled):not(.disabled):active:focus, .btn-dark-teal:not(:disabled):not(.disabled).active:focus, .show > .btn-dark-teal.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(93, 207, 196, 0.5);
}
.btn-outline-dark-teal {
  color: #5dcfc4;
  background-color: transparent;
  border-color: #5dcfc4;
}
.btn-outline-dark-teal:hover {
  color: #212529;
  background-color: #5dcfc4;
  border-color: #5dcfc4;
}
.btn-outline-dark-teal:focus, .btn-outline-dark-teal.focus {
  box-shadow: 0 0 0 0.2rem rgba(93, 207, 196, 0.5);
}
.btn-outline-dark-teal.disabled, .btn-outline-dark-teal:disabled {
  color: #5dcfc4;
  background-color: transparent;
}
.btn-outline-dark-teal:not(:disabled):not(.disabled):active, .btn-outline-dark-teal:not(:disabled):not(.disabled).active, .show > .btn-outline-dark-teal.dropdown-toggle {
  color: #212529;
  background-color: #5dcfc4;
  border-color: #5dcfc4;
}
.btn-outline-dark-teal:not(:disabled):not(.disabled):active:focus, .btn-outline-dark-teal:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-dark-teal.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(93, 207, 196, 0.5);
}
.list-group-item-dark-teal {
  color: #28897f;
  background-color: #eaf8f7;
}
.list-group-item-dark-teal.list-group-item-action:hover, .list-group-item-dark-teal.list-group-item-action:focus {
  color: #28897f;
  background-color: #d6f3f0;
}
.list-group-item-dark-teal.list-group-item-action.active {
  color: #212529;
  background-color: #28897f;
  border-color: #28897f;
}
.table-dark-teal, .table-dark-teal > th, .table-dark-teal > td {
  background-color: #eaf8f7;
}
.table-hover .table-dark-teal:hover {
  background-color: #d6f3f0;
}
.table-hover .table-dark-teal:hover > td, .table-hover .table-dark-teal:hover > th {
  background-color: #d6f3f0;
}
.text-dark-teal {
  color: #5dcfc4 !important;
}
a.text-dark-teal:hover, a.text-dark-teal:focus {
  color: #38c0b3 !important;
}
