/*------------------------------------
 - COLOR light-gray
 ------------------------------------*/
.alert-light-gray {
  color: #a4a4a4;
  background-color: #e7e7e7;
  border-color: #dddddd;
}
.alert-light-gray hr {
  border-top-color: #d1d1d1;
}
.alert-light-gray .alert-link {
  color: #8b8b8b;
}
.badge-light-gray {
  color: #212529;
  background-color: #e2e2e2;
}
.badge-light-gray[href]:hover, .badge-light-gray[href]:focus {
  color: #212529;
  background-color: #c8c8c8;
}
.bg-light-gray {
  background-color: #e2e2e2 !important;
}
a.bg-light-gray:hover, a.bg-light-gray:focus, button.bg-light-gray:hover, button.bg-light-gray:focus {
  background-color: #c8c8c8 !important;
}
.border-light-gray {
  border-color: #e2e2e2 !important;
}
.btn-light-gray {
  color: #212529;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
}
.btn-light-gray:hover {
  color: #212529;
  background-color: #d0d0d0;
  border-color: #c8c8c8;
}
.btn-light-gray:focus, .btn-light-gray.focus {
  box-shadow: 0 0 0 0.2rem rgba(226, 226, 226, 0.5);
}
.btn-light-gray.disabled, .btn-light-gray:disabled {
  color: #212529;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
}
.btn-light-gray:not(:disabled):not(.disabled):active, .btn-light-gray:not(:disabled):not(.disabled).active, .show > .btn-light-gray.dropdown-toggle {
  color: #212529;
  background-color: #c8c8c8;
  border-color: #c0c0c0;
}
.btn-light-gray:not(:disabled):not(.disabled):active:focus, .btn-light-gray:not(:disabled):not(.disabled).active:focus, .show > .btn-light-gray.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(226, 226, 226, 0.5);
}
.btn-outline-light-gray {
  color: #e2e2e2;
  background-color: transparent;
  border-color: #e2e2e2;
}
.btn-outline-light-gray:hover {
  color: #212529;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
}
.btn-outline-light-gray:focus, .btn-outline-light-gray.focus {
  box-shadow: 0 0 0 0.2rem rgba(226, 226, 226, 0.5);
}
.btn-outline-light-gray.disabled, .btn-outline-light-gray:disabled {
  color: #e2e2e2;
  background-color: transparent;
}
.btn-outline-light-gray:not(:disabled):not(.disabled):active, .btn-outline-light-gray:not(:disabled):not(.disabled).active, .show > .btn-outline-light-gray.dropdown-toggle {
  color: #212529;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
}
.btn-outline-light-gray:not(:disabled):not(.disabled):active:focus, .btn-outline-light-gray:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light-gray.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(226, 226, 226, 0.5);
}
.list-group-item-light-gray {
  color: #a4a4a4;
  background-color: #dddddd;
}
.list-group-item-light-gray.list-group-item-action:hover, .list-group-item-light-gray.list-group-item-action:focus {
  color: #a4a4a4;
  background-color: #d1d1d1;
}
.list-group-item-light-gray.list-group-item-action.active {
  color: #212529;
  background-color: #a4a4a4;
  border-color: #a4a4a4;
}
.table-light-gray, .table-light-gray > th, .table-light-gray > td {
  background-color: #dddddd;
}
.table-hover .table-light-gray:hover {
  background-color: #d1d1d1;
}
.table-hover .table-light-gray:hover > td, .table-hover .table-light-gray:hover > th {
  background-color: #d1d1d1;
}
.text-light-gray {
  color: #e2e2e2 !important;
}
a.text-light-gray:hover, a.text-light-gray:focus {
  color: #c8c8c8 !important;
}
