/*------------------------------------
 - COLOR light-teal
 ------------------------------------*/
 .alert-light-teal {
  color: #3dd080;
  background-color: #e4afcc;
  border-color: #d3abc1;
}
.alert-light-teal hr {
  border-top-color: #bfa6b4;
}
.alert-light-teal .alert-link {
  color: #2aaf67;
}
.badge-light-teal {
  color: #212529;
  background-color: #a0e8c1;
}
.badge-light-teal[href]:hover, .badge-light-teal[href]:focus {
  color: #212529;
  background-color: #76dea6;
}
.bg-light-teal {
  background-color: #a0e8c1 !important;
}
a.bg-light-teal:hover, a.bg-light-teal:focus, button.bg-light-teal:hover, button.bg-light-teal:focus {
  background-color: #76dea6 !important;
}
.border-light-teal {
  border-color: #a0e8c1 !important;
}
.btn-light-teal {
  color: #212529;
  background-color: #a0e8c1;
  border-color: #a0e8c1;
}
.btn-light-teal:hover {
  color: #212529;
  background-color: #83e1ae;
  border-color: #76dea6;
}
.btn-light-teal:focus, .btn-light-teal.focus {
  box-shadow: 0 0 0 0.2rem rgba(160, 232, 193, 0.5);
}
.btn-light-teal.disabled, .btn-light-teal:disabled {
  color: #212529;
  background-color: #a0e8c1;
  border-color: #a0e8c1;
}
.btn-light-teal:not(:disabled):not(.disabled):active, .btn-light-teal:not(:disabled):not(.disabled).active, .show > .btn-light-teal.dropdown-toggle {
  color: #212529;
  background-color: #76dea6;
  border-color: #6adb9e;
}
.btn-light-teal:not(:disabled):not(.disabled):active:focus, .btn-light-teal:not(:disabled):not(.disabled).active:focus, .show > .btn-light-teal.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(160, 232, 193, 0.5);
}
.btn-outline-light-teal {
  color: #a0e8c1;
  background-color: transparent;
  border-color: #a0e8c1;
}
.btn-outline-light-teal:hover {
  color: #212529;
  background-color: #a0e8c1;
  border-color: #a0e8c1;
}
.btn-outline-light-teal:focus, .btn-outline-light-teal.focus {
  box-shadow: 0 0 0 0.2rem rgba(160, 232, 193, 0.5);
}
.btn-outline-light-teal.disabled, .btn-outline-light-teal:disabled {
  color: #a0e8c1;
  background-color: transparent;
}
.btn-outline-light-teal:not(:disabled):not(.disabled):active, .btn-outline-light-teal:not(:disabled):not(.disabled).active, .show > .btn-outline-light-teal.dropdown-toggle {
  color: #212529;
  background-color: #a0e8c1;
  border-color: #a0e8c1;
}
.btn-outline-light-teal:not(:disabled):not(.disabled):active:focus, .btn-outline-light-teal:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light-teal.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(160, 232, 193, 0.5);
}
.list-group-item-light-teal {
  color: #3dd080;
  background-color: #d3abc1;
}
.list-group-item-light-teal.list-group-item-action:hover, .list-group-item-light-teal.list-group-item-action:focus {
  color: #3dd080;
  background-color: #bfa6b4;
}
.list-group-item-light-teal.list-group-item-action.active {
  color: #212529;
  background-color: #3dd080;
  border-color: #3dd080;
}
.table-light-teal, .table-light-teal > th, .table-light-teal > td {
  background-color: #d3abc1;
}
.table-hover .table-light-teal:hover {
  background-color: #bfa6b4;
}
.table-hover .table-light-teal:hover > td, .table-hover .table-light-teal:hover > th {
  background-color: #bfa6b4;
}
.text-light-teal {
  color: #a0e8c1 !important;
}
a.text-light-teal:hover, a.text-light-teal:focus {
  color: #76dea6 !important;
}
