<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Muzon</title>
	<div th:insert="fragments/head.html::head" th:remove="tag"></div>
</head>

<body>
     <div class="container px-5 bg-#d3d5d8 rounded">
        <div id="myTab" role="tablist">
            <div class="d-flex pt-2">
                <div id="back" class="pt-2 px-1 mr-5">
                    <a class="btn btn-secondary" th:href="@{'/userForm/cancel'}">Back</a>
                </div>

                <div class="text-center pt-2 mx-5">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" th:if="${editMode}"
                        data-target="#addAddressModal">New Address</button>
                </div>
            </div>
            <div class="mt-4">
                <div class="d-flex flex-wrap">
                    <tr th:each="addresses: ${addressList}">
                        <div class="card my-2 ml-1">
                            <h5 class="card-header text-capitalize" th:text="${addresses.address}"></h5>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0 d-flex flex-column">
                                    <small><a th:if="${addresses.defaultAddress == 0}"
                                            th:href="@{'/setDefault/'+ ${addresses.id}}">Set as
                                            default</a></small>
                                    <small><b><a class="text-muted" th:if="${addresses.defaultAddress == 0}"
                                                th:href="@{'/delete/'+ ${addresses.id}}">Delete</a></small></b>
                                </blockquote>
                            </div>
                        </div>
                    </tr>
                </div>
            </div>
            <div th:if="${editMode}" th:include="user-form/add-address.html" th:remove="tag"></div>
        </div>
    </div>
</body>

</html>

