<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Muzon</title>
	<div th:insert="fragments/head.html::head" th:remove="tag"></div>
</head>

<body>
	<div class="container-fluid pt-1">
		<div class="row">
			<div class="col-9"></div>
			<div class="col-1 d-flex justify-content-end">
				<img class="img-fluid col-8 col-sm-6 col-md-5 col-lg-4" src="static/img/englishFlag.png"
					th:src="@{/img/englishFlag.png}" />
			</div>
			<div class="col-1 d-flex justify-content-center">
				<img class="text-center img-fluid col-8 col-sm-6 col-md-5 col-lg-4" src="static/img/spanishFlag.png"
					th:src="@{/img/spanishFlag.png}" />
			</div>
			<div class="col-1 d-flex justify-content-start">
				<img class="text-center img-fluid col-8 col-sm-6 col-md-5 col-lg-4" src="static/img/basqueFlag.png"
					th:src="@{/img/basqueFlag.png}" />
			</div>
		</div>
	</div>
	<div class="container">
		<div class="mx-auto col-sm-8 main-section" >		
			<div class="container text-center mb-3">
				<img class="text-center img-fluid w-25" src="static/img/Muzon.png" th:src="@{/img/Muzon.png}" />
			</div>

			<div th:include="user-form/user-formSignUp.html" th:remove="tag" ></div>
		</div>
	</div>
</body>
</html>
