<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Muzon</title>
	<div th:insert="fragments/head.html::head" th:remove="tag"></div>
</head>

<body>
	<div class="container">
		<div class="mx-auto col-sm-8 main-section" >		
			<div class="container text-center mb-3">
				<img class="text-center img-fluid w-25" th:src="@{/img/MuZon.png}" />
			</div>
			<div th:insert="fragments/user-form.html::user-formSignUp" th:remove="tag"></div>
		</div>
	</div>
</body>
</html>
